<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ChatBook</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
</head>

<body class="bg-light">
    <header class="mb-5">
        <nav class="navbar navbar-expand-lg navbar-light bg-body-tertiary shadow">
            <div class="container-fluid">
                <a class="navbar-brand fs-3 fw-bold text-primary" href="#">My Medication</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link active fw-semibold" aria-current="page" href="index.html">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link fw-semibold" href="chat.html">Staff In-charge</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link fw-semibold" href="search.html">Research</a>
                        </li>
                    </ul>
                    <form action="{{ url_for('login') }}" method="get">
                        <button type="submit" class="btn btn-outline-primary ms-lg-3">sign_out</button>
                    </form>
                </div>
            </div>
        </nav>
    </header>

    <section class="container col-8 shadow mt-5">
        <div id = 'chatspace' class="chat-box d-flex flex-column mb-4">

            {% for message in messages %}
                {% if message.sender == username %}
                    <div class="message-right">
                        {{ message.message }} <p class = 'time'>{{message.time}} </p>
                    </div>
                {% else %}
                    <div class="message-left">
                        {{ message.message }} <p class = 'time'> {{message.time}} </p>
                    </div>
                {% endif %}
        {% endfor %}
                </div>

        <!-- Send Message Form -->
        <form id = "form" class="d-flex align-items-center py-5" action="/chat" method="POST">
            <input type="text" id = 'messageInput' name="message" placeholder="Your message..." class="form-control me-2" autocomplete="off" autofocus required>
            <button type="submit" class="btn btn-primary" id = "sendButton">
                <i class="bi bi-send"></i>
            </button>
        </form>
    </section>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src = "../static/style.js" type = 'module'></script>



</body>
</html>
